<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ page.title }}</title>
        <!-- link to main stylesheet -->
        <!-- <link rel="stylesheet" type="text/css" href="/css/main.css"> -->
        <link rel="stylesheet" href="{{ '/css/main.css' | append: site.github.build_revision | relative_url }}">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <!-- <li><a href="/cv">CV</a></li> -->
                <li><a href="/blog">Blog</a></li>
            </ul>
        </nav>
        <div class="container">
        
        {{ content }}
        
        </div><!-- /.container -->
        <footer>
            <ul>
                <li><a href="mailto:stephenmce@gmail.com">email</a></li>
                <li><a href="https://www.linkedin.com/in/stephen-mcentee-51a187121">Linkedin</a></li>
                <li><a href="https://github.com/qwilka">github.com/qwilka</a></li>
            </ul>
        </footer>
    </body>
</html>
